<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>登录日志</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-note slot="start">开始时间</ion-note>
                    <ion-datetime [displayFormat]="searchModel.dateFormat" [min]="searchModel.minDate" [max]="searchModel.maxDate" [(ngModel)]="searchModel.startDate"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-note slot="start">截止时间</ion-note>
                    <ion-datetime [displayFormat]="searchModel.dateFormat" [min]="searchModel.minDate" [max]="searchModel.maxDate" [(ngModel)]="searchModel.endDate"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" (click)="search()">查询</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-list>
                    <ion-list-header>
                        <ion-label>Items</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let d of dataList">
                        <ion-label>{{d.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>


        </ion-row>
    </ion-grid>








</ion-content>