<ion-header>
    <ion-toolbar color="dark">
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>基本信息</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        VIN号码：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        车牌号码：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        车牌颜色：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        车身颜色：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        终端编号：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        SIM卡号：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        发动机编号：{{veh.info.vin}}
                    </ion-col>
                    <ion-col size="12">
                        车辆型号：{{veh.info.vin}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>工况数据</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        油箱液位：{{veh.condition.fuel}}
                    </ion-col>
                    <ion-col size="12">
                        反应剂余量：{{veh.condition.reactant}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>车辆数据汇总</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="11" [routerLink]="['/tabs/home/onlinelog']">
                        车辆行驶总时长：{{veh.statistic.duration}}
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-col>
                    <ion-col size="11">
                        车辆行驶总里程：{{veh.statistic.mileage}}
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-col>
                    <ion-col size="11">
                        总NOx排放量：{{veh.statistic.nox}}
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-col>
                    <ion-col size="11">
                        总油耗：{{veh.statistic.consumption}}
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-col>
                    <ion-col size="11">
                        总故障数：{{veh.statistic.faults}}
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>