<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>个人信息</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-icon name="person"></ion-icon>
                    <ion-input [(ngModel)]="userService.user.info.name" placeholder="姓名"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-icon name="phone-portrait"></ion-icon>
                    <ion-input [(ngModel)]="userService.user.info.phone" placeholder="手机号"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-icon name="home"></ion-icon>
                    <ion-input [(ngModel)]="userService.user.info.address" placeholder="地址"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" (click)="save()">保存</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>