<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>轨迹回放</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #mapElement class="track-map"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-note slot="start">开始时间</ion-note>
                    <ion-datetime [displayFormat]="searchModel.dateFormat" [min]="searchModel.minDate" [max]="searchModel.maxDate" [(ngModel)]="searchModel.dateStart" cancelText="取消" doneText="确定"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-note slot="start">截止时间</ion-note>
                    <ion-datetime [displayFormat]="searchModel.dateFormat" [min]="searchModel.minDate" [max]="searchModel.maxDate" [(ngModel)]="searchModel.dateEnd" cancelText="取消" doneText="确定"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" (click)="search()">查询</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="start()">开始</ion-button>
    <ion-button (click)="stop()">停止</ion-button>
    <ion-button (click)="pause()">暂停</ion-button>
    <ion-button (click)="speed(speedType.up)">加速</ion-button>
    <ion-button (click)="speed(speedType.down)">减速</ion-button>
    <ion-input [value]="pageModel.speed"></ion-input>
    <ion-progress-bar [value]="pageModel.progress"></ion-progress-bar>
</ion-content>