<ion-header>
    <ion-toolbar>
        <ion-title>个人中心</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="margin-top:10px;">
        <ion-thumbnail slot="start">
            <img src="../../../assets/img/user-head.png">
        </ion-thumbnail>
        <ion-label>
            <h2>{{userService.user.info.phone}}</h2>
            <p>{{userService.user.vin.vin}}</p>
        </ion-label>
    </ion-item>
    <div class="user-btns">
        <div class="user-btns-title">个人信息</div>
        <div class="user-btn" [routerLink]="['/tabs/user/info']">
            <img src="../../../assets/img/user-info.png">
            <div>个人信息</div>
        </div>
    </div>
    <div class="user-btns">
        <div class="user-btns-title">车辆管理</div>
        <!-- [disabled]="userService.user.vins.length<=1" -->
        <div class="user-btn" (click)="openVinList()">
            <img src="../../../assets/img/user-veh-change.png">
            <div>切换车辆</div>
        </div>
        <div class="user-btn" [routerLink]="['/tabs/user/bind']">
            <img src="../../../assets/img/user-veh-bind.png">
            <div>绑定车辆</div>
        </div>
        <!-- [disabled]="userService.user.vin.id==null" -->
        <div class="user-btn" (click)="unBindVin()">
            <img src="../../../assets/img/user-veh-unbind.png">
            <div>解绑车辆</div>
        </div>
    </div>
    <div class="user-btns">
        <div class="user-btns-title">系统功能</div>
        <div class="user-btn" [routerLink]="['/tabs/user/setting']">
            <img src="../../../assets/img/user-setting.png">
            <div>设置</div>
        </div>
        <div class="user-btn" (click)="logout()">
            <img src="../../../assets/img/user-logout.png">
            <div>退出登陆</div>
        </div>
    </div>
</ion-content>