<ion-header>
    <ion-toolbar color="dark">
        <ion-title>个人中心</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-thumbnail slot="start">
                        <img src="../../../assets/head.png">
                    </ion-thumbnail>
                    <ion-label>
                        <h2>{{userService.user.info.phone}}</h2>
                        <p>{{userService.user.vin.vin}}</p>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="primary" [routerLink]="['/tabs/user/info']">个人信息完善</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="primary" (click)="openVinList()" [disabled]="userService.user.vins.length<=1">切换绑定车辆</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="primary" [routerLink]="['/tabs/user/bind']">绑定车辆</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="primary" (click)="unBindVin()" [disabled]="userService.user.vin.id==null">解绑当前车辆</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="primary" [routerLink]="['/tabs/user/setting']">设置</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="danger" (click)="logout()">退出登录</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>