<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>车辆绑定</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-icon name="car"></ion-icon>
                    <ion-input [(ngModel)]="vin" placeholder="VIN"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" (click)="bind()">绑定</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>